In [1]:
from sqlalchemy import create_engine
from sqlalchemy_utils import database_exists, create_database
import psycopg2
import pandas as pd

#### Create database

Extending the postgres setup tutorial, create a new database for the new tables.

In [19]:
username = 'postgres'
password = 'password'  # this is the password for user postgres
host     = 'localhost'
port     = '5432'
db_name  = 'test_db'   # you can change the database name here

If you need to change the password for the user 'postgres', you can use
```ALTER USER user_name WITH PASSWORD 'new_password';```

In [20]:
engine = create_engine('postgresql://{}:{}@{}:{}/{}'.format(username, password, host, port, db_name))
print(engine.url)

postgresql://postgres:password@localhost:5432/test_db

In [21]:
if not database_exists(engine.url):
    create_database(engine.url)
print(database_exists(engine.url))

True

Connect to the database and add the new tables.

In [147]:
conn = psycopg2.connect(database = db_name, user = username, host = host, password = password )

In [148]:
cur = conn.cursor()

In [149]:
cur.execute("""CREATE TABLE listings (
                 id INT PRIMARY KEY NOT NULL,
                 listing_url VARCHAR(200) NOT NULL,
                 scrape_id VARCHAR(200) NOT NULL,
                 last_scraped DATE NOT NULL,
                 name VARCHAR(400) NOT NULL,
                 summary TEXT,
                 space TEXT,
                 description TEXT,
                 experiences_offered VARCHAR(100),
                 neighbordhood_overview TEXT,
                 notes TEXT,
                 transit TEXT,
                 access TEXT,
                 interaction TEXT,
                 house_rules TEXT,
                 thumbnail_url VARCHAR(400),
                 medium_url VARCHAR(400),
                 picture_url VARCHAR(400),
                 xl_picture_url VARCHAR(400),
                 host_id INT,
                 host_url VARCHAR(400),
                 host_name VARCHAR(200),
                 host_since DATE,
                 host_location VARCHAR(400),
                 host_about TEXT,
                 host_response_time VARCHAR(200),
                 host_response_rate VARCHAR(10),
                 host_acceptance_rate VARCHAR(10),
                 host_is_superhost VARCHAR(10),
                 host_thumbnail_url VARCHAR(400),
                 host_picture_url VARCHAR(400),
                 host_neighbourhood VARCHAR(200),
                 host_listings_count INT,
                 host_total_listings_count INT,
                 host_verifications VARCHAR(400),
                 host_has_profile_pic VARCHAR(10),
                 host_identity_verified VARCHAR(10),
                 street VARCHAR(200),
                 neighbourhood VARCHAR(200),
                 neighbourhood_cleansed VARCHAR(200),
                 neighbourhood_group_cleansed VARCHAR(200),
                 city VARCHAR(200),
                 state VARCHAR(10),
                 zipcode VARCHAR(10),
                 market VARCHAR(100),
                 smart_location VARCHAR(100),
                 country_code VARCHAR(10),
                 country VARCHAR(100),
                 latitude FLOAT,
                 longitude FLOAT,
                 is_location_exact VARCHAR(10),
                 property_type VARCHAR(100),
                 room_type VARCHAR(100),
                 accommodates INT,
                 bathrooms FLOAT,
                 bedrooms INT,
                 beds INT,
                 bed_type VARCHAR(100),
                 amenities TEXT,
                 square_feet INT,
                 price VARCHAR(100),
                 weekly_price VARCHAR(100),
                 monthly_price VARCHAR(100),
                 security_deposit VARCHAR(100),
                 cleaning_fee VARCHAR(100),
                 guests_included INT,
                 extra_people VARCHAR(100),
                 minimum_nights INT,
                 maximum_nights INT,
                 minimum_minimum_nights INT,
                 maximum_minimum_nights INT,
                 minimum_maximum_nights INT,
                 maximum_maximum_nights INT,
                 minimum_nights_avg_ntm FLOAT,
                 maximum_nights_avg_ntm FLOAT,
                 calendar_updated VARCHAR(100),
                 has_availability VARCHAR(10),
                 availability_30 INT,
                 availability_60 INT,
                 availability_90 INT,
                 availability_365 INT,
                 calendar_last_scraped DATE,
                 number_of_reviews INT,
                 number_of_reviews_ltm INT,
                 first_review DATE,
                 last_review DATE,
                 review_scores_rating INT,
                 review_scores_accuracy INT,
                 review_scores_cleanliness INT,
                 review_scores_checkin INT,
                 review_scores_communication INT,
                 review_scores_location INT,
                 review_scores_value INT,
                 requires_license VARCHAR(10),
                 license TEXT,
                 jurisdiction_names TEXT,
                 instant_bookable VARCHAR(10),
                 is_business_travel_ready VARCHAR(10),
                 cancellation_policy VARCHAR(100),
                 require_guest_profile_picture VARCHAR(10),
                 require_guest_phone_verification VARCHAR(10),
                 calculated_host_listings_count INT,
                 calculated_host_listings_count_entire_homes INT,
                 calculated_host_listings_count_private_rooms INT,
                 calculated_host_listings_count_shared_rooms INT,
                 reviews_per_month FLOAT
           );""")

Input the location of the listings file below.

In [150]:
cur.execute("""COPY listings
               FROM '/path/to/listings.csv'
               CSV HEADER;""")

In [151]:
cur.execute("""CREATE TABLE calendar (
                   listing_id INT references listings(id),
                   date DATE,
                   available VARCHAR(10),
                   price VARCHAR(100),
                   adjusted_price VARCHAR(100),
                   minimum_nights INT,
                   maximum_nights INT
            );""")

Input the location of the calendar file below.

In [152]:
# takes about 18s
cur.execute("""COPY calendar
               FROM '/path/to/calendar.csv'
               CSV HEADER;""")

In [153]:
cur.execute("""CREATE TABLE reviews (
                   listing_id INT references listings(id),
                   id INT PRIMARY KEY NOT NULL,
                   date DATE,
                   reviewer_id INT,
                   reviewer_name VARCHAR(100),
                   comments TEXT
            );""")

Input the location of the reviews file below.

In [154]:
cur.execute("""COPY reviews
               FROM '/path/to/reviews.csv'
               CSV HEADER;""")

In [155]:
conn.commit()

In [156]:
cur.close()
conn.close()

#### Example queries

In [158]:
conn = psycopg2.connect(database = db_name, user = username, host = host, password = password )

In [159]:
example_query1 = """
SELECT COUNT(*)
FROM calendar;
"""

example_result1 = pd.read_sql_query(example_query1, conn)
example_result1.head()

     count
0  2764875

In [162]:
example_query2 = """
SELECT *
FROM listings
LIMIT 6;
"""

example_result2 = pd.read_sql_query(example_query2, conn)
example_result2.head()

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighbordhood_overview,...,instant_bookable,is_business_travel_ready,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,958,https://www.airbnb.com/rooms/958,20190602163113,2019-06-02,"Bright, Modern Garden Unit - 1BR/1B",New update: the house next door is under const...,"Newly remodeled, modern, and bright garden uni...",New update: the house next door is under const...,none,*Quiet cul de sac in friendly neighborhood *St...,...,t,f,moderate,f,f,1,1,0,0,1.60
1,5858,https://www.airbnb.com/rooms/5858,20190602163113,2019-06-02,Creative Sanctuary,,We live in a large Victorian house on a quiet ...,We live in a large Victorian house on a quiet ...,none,I love how our neighborhood feels quiet but is...,...,f,f,strict_14_with_grace_period,f,f,1,1,0,0,0.90
2,7918,https://www.airbnb.com/rooms/7918,20190602163113,2019-06-02,A Friendly Room - UCSF/USF - San Francisco,Nice and good public transportation. 7 minute...,Room rental-sunny view room/sink/Wi Fi (inner ...,Nice and good public transportation. 7 minute...,none,"Shopping old town, restaurants, McDonald, Whol...",...,f,f,strict_14_with_grace_period,f,f,9,0,9,0,0.14
3,8142,https://www.airbnb.com/rooms/8142,20190602163113,2019-06-02,Friendly Room Apt. Style -UCSF/USF - San Franc...,Nice and good public transportation. 7 minute...,Room rental Sunny view Rm/Wi-Fi/TV/sink/large ...,Nice and good public transportation. 7 minute...,none,,...,f,f,strict_14_with_grace_period,f,f,9,0,9,0,0.14
4,8339,https://www.airbnb.com/rooms/8339,20190602163113,2019-06-02,Historic Alamo Square Victorian,Pls email before booking. Interior featured i...,Please send us a quick message before booking ...,Pls email before booking. Interior featured i...,none,,...,f,f,moderate,t,t,2,2,0,0,0.23

In [166]:
example_query3 = """
SELECT *
FROM reviews
ORDER BY date;
"""

example_result3 = pd.read_sql_query(example_query3, conn)
example_result3.head()

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,5858,1981,2009-05-03,11350,Rowan,We had a fabulous time staying with Philip and...
1,5858,2993,2009-05-23,11966,Annick,Great place to stay in SF. Tania and Philip we...
2,5858,3905,2009-06-12,17285,Bella,We had an excellent stay. We loved the neighbo...
3,5858,5566,2009-07-15,12216,Louise,Tania and Philip are wonderful and cheerful - ...
4,958,5977,2009-07-23,15695,Edmund C,"Our experience was, without a doubt, a five st..."

In [168]:
example_query4 = """
SELECT listings.id as id,
       listings.description as description,
       listings.bedrooms as bedrooms,
       reviews.reviewer_name as reviewer_name,
       reviews.comments as comments,
       reviews.date as review_date
FROM listings
     JOIN reviews
     ON listings.id = reviews.listing_id
WHERE reviews.date > '2019-01-01';
"""

example_result4 = pd.read_sql_query(example_query4, conn)
example_result4.head()

,id,description,bedrooms,reviewer_name,comments,review_date
0,958,New update: the house next door is under const...,1,Mitzi,A gem of a place. We were in SF for our daught...,2019-01-02
1,958,New update: the house next door is under const...,1,Renu,Fantastic and highly recommend!!,2019-01-06
2,958,New update: the house next door is under const...,1,Barbara,Holly's description of the apartment was total...,2019-01-11
3,958,New update: the house next door is under const...,1,Melissa,Holly’s apartment is in a safe neighborhood on...,2019-02-17
4,958,New update: the house next door is under const...,1,Sarah,Holly’s apartment was great. It was exactly as...,2019-03-01

In [169]:
example_query5 = """
SELECT *
FROM calendar
LIMIT 6;
"""

example_result5 = pd.read_sql_query(example_query5, conn)
example_result5.head()

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
0,958,2019-06-02,f,$181.00,$181.00,1,30
1,75422,2019-06-02,f,$43.00,$43.00,30,1825
2,75422,2019-06-03,f,$43.00,$43.00,30,1825
3,75422,2019-06-04,f,$43.00,$43.00,30,1825
4,75422,2019-06-05,f,$43.00,$43.00,30,1825